{
   {my name} : "Razvan"
   {Razvan age "25"}
   some-value : "Original" 
}

do {
    
    >{
        {if {eqi "abc" "abc"} 
        then {notify "They are equal"} 
        else {notify "They are not equal"}
        }    
     }
}

Message: ?
Destination: ?
Priority: normal

{send Message Destination Priority }


{is symbol:* }

{ is Symbol:+ of type T:?}
{ link Symbol:* }


